.mainheading {
  text-align: center;
  text-decoration: underline;
  color: black;
}

table {
  color: white;
  font-size: 11px;
}

form {
  border-radius: 30px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  max-width: fit-content;
  margin: auto;
}

th {
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
  padding-top: 15px;
}

td {
  padding-top: 15px;
  padding-left: 15px;
}

.form-select {
  max-width: 200px;
}

#address {
  resize: none;
}
